@media (max-width: 1366px) {

}

@media (max-width: 1280px) {

  .btnsBox {
    width: 70%!important;
  }
}

@media (max-width: 1024px) {

  .btnsBox {
    width: 100%!important;
  }

  .linkWrapperContent {
    flex-direction: column!important;
  }
}

@media (max-width: 768px) {
  .flex {
    justify-content: space-evenly!important;
  }

  .navWrapper {
    text-align: center;
  }

  .detail {
    text-align: center;
  }

  .LinkPoster{
    width: 350px!important;
  }

  .linkContentInfo{
    width: 350px!important;
  }
}


@media (max-width: 480px) {

  .GHIcon {
    left: 100px!important;
  }

  .LinkPoster{
    width: 300px!important;
  }

  .linkContentInfo{
    width: 300px!important;
  }
}
